<% if @bmi_range.errors.present? %>
  <div class="alert alert-warning alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= @bmi_range.errors.full_messages.join(", ") %>
  </div>
<% end %>
